/* Hide scrollbar for sidebarWrapper */
.sidebarWrapper::-webkit-scrollbar {
    display: none;
}

.sidebarWrapper {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));